.container {
  width: 800px;
  margin: 0 auto;
}

body {
  font-family: "adelle-sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "museo-sans";
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill-opacity: 30%;
}
.income {
    fill: blue;
}
.tax {
    fill: red;
}
.transfer {
    fill: green;
}

